/*定义通用样式*/
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 12px;
	font-family: "微软雅黑";
	color: darkslategray;
}
ul,li{
	list-style: none;
}
a{
	color: darkslategray;
	outline: none;
	-moz-outline-style: none;
	text-decoration: none;
	transition: color 0.2s;
}
a:hover{
	color: #FF6600;
}
a:focus{outline:none; -moz-outline-style: none;}
.on{
	display: block;
}
.off{
	display: none;
}
img{vertical-align:top;border:0;}
.red{color: #E31939;}
.theme-color{color:#EB5350}
.bold{font-weight: bold;}
.padding-tb-10{padding: 10px 0px;}
.padding-0{padding: 0;}
.margin-top-10{margin-top: 10px;}
.margin-left-10{margin-left: 10px;}
.margin-top-16{margin-top: 16px;}
.margin-left-16{margin-left: 16px;}
.margin-top-22{margin-top: 22px;}
.margin-left-22{margin-left: 22px;}
.text-overflow-ellipsis{white-space:nowrap;text-overflow:ellipsis; -o-text-overflow:ellipsis;overflow: hidden;}
em{font-weight: normal;font-style: normal; padding: 0 8px; color: #838282;}
