/*案例效果---------------------------------------------------------------------------------------------------------------*/
/*筛选*/
.case-filter{border: 1px solid #CCCCCC; }
.case-filter li>div{min-height: 4rem; }
.case-filter li{background: transparent url(../images/goods_block.gif) repeat;}
.case-filter-category{text-align: center; padding: 10px 0px;}
.case-filter-option{padding: 0px 10px; background: white; }
.case-filter-option span{display: inline-block; width: 6rem; height: 2.6rem; text-align: center; line-height: 2.6rem;
cursor: pointer;margin: 6px 0px; transition: all 0.5s;}
.filter-active{background-color: #FF6600; border-radius: 2px; box-shadow: 0px 0px 4px rgba(0,0,0,0.25); color: white;}
.case-filter-option span:hover{background-color: #D5D5D5; border-radius: 2px; box-shadow: 0px 0px 4px rgba(0,0,0,0.25);}
/*排序*/
.case-sort{height: 4.2rem; line-height: 4.2rem; background: #F5F5F5; border: 1px solid #CCCCCC;}
.case-sort p{display: inline-block; cursor: pointer; width: 6rem; height: 100%; position: relative; text-align: center;margin-right: 10px;
transition: all 0.5s;}
/*案例列表*/
.case-list{padding: 0; width: 1240px;}
.case-list li{width: 286px; height: 362px;margin: 20px 15px 0px 0px; border: 1px solid #CCCCCC; display: inline-block; vertical-align: top;}
.case-list li a{display: block; transition: all 0.5s;}
.case-list li a:hover{text-decoration: none; background: #FA731A; color: white;}
.case-list li a img{height: 300px; width: 284px;}
.case-list li a .title{padding: 10px; display: block; }
.case-list li a .title p{line-height: 20px; margin: 0;}
#case-page{margin: 0 auto !important; text-align: center;}
#case-page .active a{background: #FA731A !important; border: 1px solid #FA731A;}

/*案例效果详情样式
 * -------------------------------------------------------
 */
/*左侧效果展示图*/
.site-caseDetail{margin-bottom: 20px;}
.case-bg-img{height: 600px;margin: 0; padding: 0; cursor: pointer;}
.case-bg-img img{height: 600px; width: 100%; }
.case-sm-img{height: 100px; margin: 0; padding: 0; position: relative; background: #F6F6F6; margin-top: 10px;}
.case-sm-img a{position: absolute; top: 0; display: block; width: 120px; height: 100px;transition: all 0.5s;line-height: 90px; text-align: center; font-size: 60px;}
.case-sm-img .pre{left: 0;}
.case-sm-img .next{right: 0;}
.case-detail-listContent{position: relative;margin-left: 120px; width: 660px; overflow: hidden; height: 100px;}
.case-detail-list{position: absolute; left: 0px; top: 0px;}
.case-detail-list li{display: inline-block; width: 128px; height: 100px; cursor: pointer;}
.case-detail-list li.active img{border: 2px solid #FF6600;}
.case-detail-list li img{width: 120px; height: 100px;}
/*右侧说明*/
.case-detail-intro{min-height: 600px; padding: 0 10px;}
.case-detail-label a{display: inline-block; padding: 4px 14px; background: #CCCCCC; margin-bottom: 10px; transition: all 0.5s;}
.case-detail-label a:hover{text-decoration: none; color: white; background: #EC971F;}
.design-contact-form input[type="submit"]{width: 246px;}
